.search {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6b37d1;
  .inputContainer {
    padding: 1rem 0;
    //width: 90%;
    margin: 0 auto;
    position: relative;
    .label {
      display: none;
    }
    .input {
      background: transparent;
      border: 0;
      padding: 0.3rem 0.3rem 0.3rem 1.4rem;
      width: 100%;
      color: #fff;
      outline: none;
      font-size: 1.1rem;
    }
    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 1.2rem;
      & svg {
        //Remove empty space
        display: block;
      }
    }
    .clearButton {
      position: absolute;
      right: 0;
      background: #fff;
      padding: 0.5rem 0.7rem;
      border-radius: 14px;
      border: 0;
      cursor: pointer;
      transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
      font-weight: 500;
      &:hover {
        background: #5329a3;
        color: #fff;
      }
    }
  }
  .results {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem 0;
    list-style: none;
    overflow: auto;
    .resultsCount {
      color: #fff;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .noResults {
      color: #fff;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .inputContainer {
    width: 90%;
  }
  .results {
    width: 90%;
  }
}

@media (min-width: 1250px) {
  .inputContainer {
    width: 80%;
  }
  .results {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .inputContainer {
    width: 70%;
  }
  .results {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .inputContainer {
    width: 60%;
  }
  .results {
    width: 60%;
  }
}
