.bestsellers {
  overflow: hidden;
  .container {
    display: flex;
    .item {
      flex: 0 0 33%;
      min-width: 0;
      margin: 0 10px;
    }
  }
}

@media (max-width: 768px) {
  .bestsellers .container .item {
    flex: 0 0 50%;
  }
}
