.productsGrid {
  display: flex;
  gap: 1rem;
  .sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .products {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
  }
}

@media (max-width: "820px") {
  .productsGrid .sorting {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (min-width: "768px") {
  .productsGrid {
    .products {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3rem;
    }
  }
}

@media (min-width: "1100px") {
  .productsGrid {
    .products {
      grid-template-columns: repeat(4, 1fr);
      gap: 0.3rem;
    }
  }
}
