.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  position: relative;
  .image {
    position: relative !important;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .details {
    font-size: 1rem;
    font-weight: 500;
    color: #747474;
    .price {
      font-weight: 900;
    }
  }
  .rating {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 600;
    .icon {
      color: rgb(252, 240, 3);
      font-size: 1.2rem;
    }
    .number {
      position: relative;
      top: 2px;
    }
  }
}
