.orderDetailsContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  .items {
    width: 100%;
    padding: 1rem 3rem;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image {
        border-radius: 14px;
      }
    }
  }
  .summaryContainer {
    border-top: 2px solid #f5f5f5;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & h3 {
      text-align: center;
    }
    .innerWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .costs {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        .item {
          display: flex;
          justify-content: space-between;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
      }
    }
  }
}
