.authLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  .background {
    background: #6b37d1;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
