.signupForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  & input {
    font-size: 1rem;
  }
  .button {
    margin-top: 2rem;
    font-weight: 700;
  }
}

.loadingIcon {
  aspect-ratio: 1/1;
  &::after {
    content: "";
    display: block;
    height: 6px;
    aspect-ratio: 1/1;
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-color: #ffffff transparent #ffffff transparent;
    animation: rotateSpin 1s linear infinite;
  }
}

@keyframes rotateSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
