.confirmEmail {
  display: flex;
  margin-right: auto;
  //background: #a0153e;
  box-shadow: 0 0 15px -11px rgb(95, 95, 95);
  border-radius: 14px;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  padding: 1rem;
  .confirmEmailText {
    color: #0e0e0e;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    .icon {
      font-size: 1.2rem;
    }
  }
}
